@media(max-width: 1200px) {

    .about {
        max-width: 200px;
    }

    nav {
        
        ul {
            display: none;
        }

        .menu {
            right: 20px;
            display: block;
        }

        .profile {
            left: 20px;
        }
    }
}