@media(max-width: 1200px) {

    .about {
        width: 400px;
    }

    nav {
        
        ul {
            display: none;
        }

        .menu {
            right: 20px;
            display: block;
        }

        .profile {
            left: 20px;
        }
    }

    #artworks {
        .navigation-manual {
            width: 350px;
        }

        .navigation-auto {
            width: 350px;
            margin-top: 440px;
        }

        .art {
            width: 350px;
            height: 480px;
            top: 50px;

            .slides {
                height: 480px;

                .slide img {
                    width: 400px;
                }
            }
        }
    }

    .icons {
        ul li {
            margin: 0 25px;
        }
    }
}