@import 'config';
@import 'nav';
@import 'global';
@import 'section';
@import 'header';
@import 'form';
@import 'artworks';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1a1a2e;
    font-family: 'Product', sans-serif;
    overflow: hidden;
    position: relative;
}

a {
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background: #4B9CD3;
}

@import 'loader';
@import 'media';